Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{json,md,css,html,yml,yaml}": "prettier --write --ignore-unknown"
}

fix(nav): Quickstart-Route korrekt im Header-Navi verlinken; Header ohne Doppel-CTA
  src/App.tsx
Due: eslint --fix

feat(ux): Swipe-Navigation zwischen Hauptseiten (Chat↔Chats↔Quickstart↔Settings); ignores inputs; horizontal-only
  src/main.tsx
  src/ui/swipe-nav.ts
Due: eslint --fix

feat(ux): echter Pager (horizontales Blättern) für Chat/Chats/Quickstart/Settings; Header bleibt statisch; Swipe-Nav bleibt kompatibel
  src/App.tsx
  src/styles/brand.css
Due: eslint --fix, prettier --write --ignore-unknown

tweak(ux): Swipe schneller/sensitiver; Pager-Transition flotter; fix(stream): ignoriere OPENROUTER Status-Zeilen und SSE-Kommentare
  src/api/openrouter.ts
  src/styles/brand.css
  src/ui/swipe-nav.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(pager): Panels auf 100vw, Track ohne feste Breite; Layout wieder klar lesbar
  src/styles/brand.css
Due: prettier --write --ignore-unknown

fix(pager): korrekte Translation via vw; body overflow-x hidden gegen Seitenschubser
  src/App.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write --ignore-unknown

feat(pwa): Installations-Button in Einstellungen (Chromium-prompt + iOS Hinweis); nutzt usePWAInstall
  src/views/SettingsView.tsx
Due: eslint --fix

fix(pager): Panels/Container auf 100% statt 100vw; verhindert Skalierungsabweichungen; Swipe bleibt in vw
  src/styles/brand.css
Due: prettier --write --ignore-unknown

tweak(chat): Composer etwas höher positioniert + mehr Bottom-Padding (pb-56) für sichtbares Chatfeld
  src/views/ChatView.tsx
Due: eslint --fix

tweak(chat): Composer weiter nach oben (bottom +24px) und weniger Bottom-Padding (pb-40)
  src/views/ChatView.tsx
Due: eslint --fix

tweak(chat): Composer deutlich höher (safe + 64px) und Bottom-Padding auf pb-48
  src/views/ChatView.tsx
Due: eslint --fix

fix(pager): Track = calc(100%*4) + translateX by 25%; add data-no-swipe to tables; improves scaling and swipe feel
  src/App.tsx
  src/components/ModelPicker.tsx
  src/styles/brand.css
  src/views/ChatsView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore(lint): kommentiere leeren catch im Composer-Portal
  src/views/ChatView.tsx
Due: eslint --fix

fix(vh): nutze 100svh für App- und Chat-Container (stabilere Höhe mit mobiler Toolbar); verbessert Chat-Skalierung
  src/App.tsx
  src/views/ChatView.tsx
Due: eslint --fix

revert(ux): Pager & Swipe-Navigation entfernt; zurück zu stabiler Route-Ansicht; Skalierung wieder normal
  src/App.tsx
  src/main.tsx
  src/styles/brand.css
  src/ui/swipe-nav.ts
Due: eslint --fix, prettier --write --ignore-unknown

style(theme): freundlichere Farben (Violett/Blau Primär), hellere Secondary/Muteds; Pill-Stil etwas satter
  src/styles/brand.css
  src/styles/tokens.css
Due: prettier --write --ignore-unknown

style(theme): Orange/Rot Akzent (Gradients, nav-pill active); Tokens bereits angepasst
  src/styles/brand.css
Due: prettier --write --ignore-unknown

fix(lint): Hash-Navigation try/catch kommentiert; TemplatesGrid: 'useTemplate' → 'applyTemplate'
  src/components/StartHero.tsx
  src/components/TemplatesGrid.tsx
Due: eslint --fix

feat(chat): lädt Nachrichten aus Unterhaltung bei convId; initialisiert Verlauf korrekt
  src/views/ChatView.tsx
Due: eslint --fix

style(ux): Titel-Underline (warm), Hover in Chats-Liste, TemplatesGrid Pills/Inputs auf neuen Stil; thead Gradient angepasst
  src/components/TemplatesGrid.tsx
  src/styles/brand.css
  src/views/ChatsView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix, prettier --write --ignore-unknown
