Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

docs: update mobile UI screenshots (android light/dark)
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-dark.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-dark.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
Due: none

fix(theme): enforce dark baseline and unify globals\n\n- call initTheme() at startup to set .dark and data-theme\n- switch globals.css body to bg-bg + text-foreground (tokens) to match Aurora spec
  src/main.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write --ignore-unknown

fix
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-dark.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-dark.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
  src/components/HeaderBadges.tsx
  src/components/layout/BottomNav.tsx
Due: eslint --fix

f
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-dark.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-dark.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
Due: none

style(theme): refine aurora palette, glass/gradients, and app background per visual direction (CSS-only)
  .graveyard/backups/package.json.bak.1757070802
  .graveyard/backups/package.json.bak.1757085811
  src/styles/theme.css
Due: prettier --write --ignore-unknown

style(chat): polish chat bubbles, user/assistant accents, and composer glass/input while keeping logic unchanged
  src/styles/theme.css
  src/views/ChatView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

test(e2e): update base routes to hash URLs for chat/offline/abort/stop/sw-update flows
  tests/e2e/abort.spec.ts
  tests/e2e/chat.spec.ts
  tests/e2e/offline.spec.ts
  tests/e2e/stop.spec.ts
  tests/e2e/sw-update.spec.ts
Due: none

style(toast,tabs): improve toast contrast and outlines; unify tabs wrapper utility; keep behavior unchanged
  src/App.tsx
  src/components/ui/toast/ToastsProvider.tsx
  src/styles/theme.css
Due: eslint --fix, prettier --write --ignore-unknown

test(e2e): set reporter to list and outputDir to test-artifacts to avoid permission issues; minor hash-router URL fixes maintained
  playwright.config.ts
Due: none

ui +
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-dark.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-dark.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
  playwright.config.ts
  src/styles/theme.css
  test-artifacts/.last-run.json
Due: prettier --write --ignore-unknown

build(deploy): set Vite base to relative; fix PWA manifest paths and SW URL for subpath deployments; correct theme hover class; hash-router index links relative
  index.html
  src/lib/pwa/registerSW.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(pwa/sw): make SW base-aware for subpath deployments; adjust app shell and asset matching to registration.scope
  public/sw.js
Due: none

ci: build with BASE_URL=./ for subpath-friendly assets; keep smoke persona server unchanged
  .github/workflows/ci.yml
  .github/workflows/smoke-persona.yml
Due: prettier --write --ignore-unknown

ci(cf): add Cloudflare Pages workflow; add _headers and _redirects for SPA + cache control; build with BASE_URL=./
  .github/workflows/cloudflare-pages.yml
  public/_headers
  public/_redirects
Due: prettier --write --ignore-unknown

fix(build): correct object braces/indentation in vite.config; Pages log showed parse error
  vite.config.ts
Due: none

fixfixO
  AGENTS.md
  src/App.tsx
  src/api/openrouter.ts
  src/components/InstallBanner.tsx
  src/components/ModelPicker.tsx
  src/components/SectionCard.tsx
  src/components/layout/BottomNav.tsx
  src/components/toast/ToastProvider.tsx
  src/components/ui/toast/ToastsProvider.tsx
  src/features/prompt/composeSystemPrompt.ts
  src/hooks/useStyleTemplate.ts
  src/lib/chat/client.ts
  src/lib/chat/sendMessage.ts
  src/lib/nav.ts
  src/lib/net/fetchTimeout.ts
  src/lib/net/retry.ts
  src/lib/pwa/registerSW.ts
  src/services/openRouterClient.ts
  src/services/openrouter.ts
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci(ui): inject VITE_APP_VERSION from git SHA and expose in BottomNav data-version for quick environment diagnosis
  .github/workflows/cloudflare-pages.yml
  README.md
  src/components/layout/BottomNav.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat(ui): add footer with build version and reload button; CI injects VITE_APP_VERSION for env diagnosis
  src/App.tsx
Due: eslint --fix

ci(cf): support CF_PAGES_DEPLOY_HOOK_URL to trigger Cloudflare Pages via webhook; fallback to Wrangler when hook absent
  .github/workflows/cloudflare-pages.yml
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write --ignore-unknown: any of: *.{json,md,css,html,yml,yaml}
