Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

fix(pwa): disable service worker registration to prevent stale HTML
  src/main.tsx
Due: eslint --fix

docs: consolidate DOCS/ into docs/ directory
  docs/ARCHITECTURE.md
  docs/ASSUMPTIONS.md
  docs/CHANGELOG_REFAC.md
  docs/INVENTORY.md
  docs/ISSUES.md
  docs/PLAN.md
  docs/POSTMORTEM.md
  docs/PR_SUMMARY.md
Due: prettier --write --ignore-unknown

cleanup: remove empty DOCS/ directory
  DOCS/ARCHITECTURE.md
  DOCS/ASSUMPTIONS.md
  DOCS/CHANGELOG_REFAC.md
  DOCS/INVENTORY.md
  DOCS/ISSUES.md
  DOCS/PLAN.md
  DOCS/POSTMORTEM.md
  DOCS/PR_SUMMARY.md
Due: prettier --write --ignore-unknown

cleanup: remove test-artifacts from repository
  test-artifacts/.last-run.json
Due: prettier --write --ignore-unknown

gitignore: add test-artifacts/ to ignored files
  .gitignore
Due: none

docs: add deployment caching guidance to README
  README.md
Due: prettier --write --ignore-unknown

ci: upgrade pnpm to v9 for lockfile compatibility
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

ci: fix lint script name after consolidation
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

Infrastructure Cleanup & SPA Routing Fixes
  .github/workflows/ci.yml
  .gitignore
  .mcp.json
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/ASSUMPTIONS.md
  docs/CHANGELOG_REFAC.md
  docs/INVENTORY.md
  docs/ISSUES.md
  docs/PLAN.md
  docs/POSTMORTEM.md
  docs/PR_SUMMARY.md
  ops/prompts/audit-pass.txt
  ops/prompts/deploy-focus.txt
  ops/prompts/fix-pass.txt
  ops/prompts/pr-pass.txt
  ops/prompts/sanity.txt
  ops/run-claude-default.sh
  ops/run-claude-plan.sh
  package-lock.json
  package.json
  src/main.tsx
  test-artifacts/.last-run.json
Due: eslint --fix, prettier --write --ignore-unknown

ci: fix e2e-smoke pnpm version for main branch compatibility
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix(build): disable PWA plugin to resolve workbox import error
  public/manifest.webmanifest
  vite.config.ts
Due: none

docs(pages): add Git integration setup guide; confirm deployment readiness
  DEPLOYMENT_READINESS.md
  docs/pages-deploy.md
Due: prettier --write --ignore-unknown

docs(ci): add Pages Git-integration checklist & readiness notes
  DEPLOYMENT_READINESS.md
  docs/pages-deploy.md
Due: prettier --write --ignore-unknown

chore(ci): add Netlify config (build=dist, SPA redirect, NODE_VERSION=22)
  netlify.toml
Due: none

revert: drop Netlify config and local binding
  netlify.toml
  public/_redirects
Due: none

chore(ci): standardize to npm; pin Node via .nvmrc (22); drop pnpm-lock
  .nvmrc
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

build: ensure Vite React plugin + scripts; lock Node; npm standardization
  package.json
Due: prettier --write --ignore-unknown

ci: replace pnpm-based workflow with npm-based CI (setup-node@v4 + npm ci + vite build)
  .github/workflows/_backup/ci.yml
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

ci: switch to npm-based CI; ensure Vite React plugin; pin Node 22; remove pnpm workflows
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

ci: purge pnpm-based workflows; keep npm CI only
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

chore(cf): track wrangler config for Pages (dist as output dir)
  wrangler.toml
Due: none

gh-pages: set Vite base '/Disa_Ai/', add SPA fallback + Pages workflow
  .github/workflows/pages.yml
  package.json
  vite.config.ts
Due: prettier --write --ignore-unknown

ci: add package-lock.json for npm cache/ci; unignore in .gitignore
  .gitignore
  package-lock.json
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write --ignore-unknown: any of: *.{json,md,css,html,yml,yaml}
