Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

fix(pages): adjust SPA fallback rule in public/_redirects to avoid Wrangler loop warning (use 200! to force and avoid /index.html recursion)
  public/_redirects
Due: none

workflow
  .github/workflows/cloudflare-pages.yml
Due: prettier --write --ignore-unknown

workflow
  .github/workflows/cloudflare-pages-trigger.yml
  .github/workflows/cloudflare-pages.yml
Due: prettier --write --ignore-unknown

ci: disable Cloudflare Pages deployments via GitHub Actions (switch to CF Git Integration)
  .github/workflows_disabled/cloudflare-pages-trigger.yml
  .github/workflows_disabled/cloudflare-pages.yml
Due: prettier --write --ignore-unknown

chore: remove obsolete GitHub Actions workflows for Cloudflare Pages
  .github/workflows_disabled/cloudflare-pages-trigger.yml
  .github/workflows_disabled/cloudflare-pages.yml
Due: prettier --write --ignore-unknown

ci: remove Cloudflare deploy pipelines; enforce Pages Git Integration only
  README.md
Due: prettier --write --ignore-unknown

fix(build): ensure package.json build script and output dir; prefer VITE_BASE_URL; add .env.example and health-check
  .env.example
  docs/DEPLOYMENT.md
  scripts/health-check.sh
  src/lib/publicAsset.ts
  src/lib/pwa/registerSW.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

fix(build): ensure package.json build script and output dir; prefer VITE_BASE_URL; add .env.example and health-check
  docs/DEPLOYMENT.md
  scripts/health-check.sh
  src/lib/publicAsset.ts
  src/lib/pwa/registerSW.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: add AGENTS.md guardrails for Codex + MCP
  AGENTS.md
Due: prettier --write --ignore-unknown

ci: keep actions for checks only; remove pages deploy; clarify README
  .claude/mcp.json
  .claude/mcp.project.json
  .github/workflows/ci.yml
  .github/workflows/smoke-persona.yml
  .mcp.json.bak-20250909-100349
  README.md
  scripts/setup-mcp.sh
  scripts/visual-scan.mjs
Due: prettier --write --ignore-unknown

fix(types): extend main tsconfig in tsconfig.node.json for exactOptionalPropertyTypes consistency
  tsconfig.node.json
Due: prettier --write --ignore-unknown

fix(errors): unify http→toast mapping via humanError()
  src/__tests__/humanError.test.ts
  src/config/roleStore.ts
  src/lib/chat/sendMessage.ts
  src/lib/errors/humanError.ts
  src/views/ChatView.tsx
Due: eslint --fix

ci: strict gates (typecheck, lint:full, test); e2e optional
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

docs: update README with deployment/CI separation and theme approach
  README.md
Due: prettier --write --ignore-unknown

fix
  package.json
Due: prettier --write --ignore-unknown

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --write --ignore-unknown

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --write --ignore-unknown

docs: add Claude Code guidance file
  CLAUDE.md
Due: prettier --write --ignore-unknown

config: add MCP server configuration
  .mcp.json
Due: prettier --write --ignore-unknown

ops: add development automation scripts
  ops/prompts/audit-pass.txt
  ops/prompts/deploy-focus.txt
  ops/prompts/fix-pass.txt
  ops/prompts/pr-pass.txt
  ops/prompts/sanity.txt
  ops/run-claude-default.sh
  ops/run-claude-plan.sh
Due: none

fix(deps): remove outdated package-lock.json, use pnpm exclusively
  .gitignore
  package-lock.json
Due: prettier --write --ignore-unknown

refactor(scripts): consolidate npm scripts, remove redundant entries
  package.json
Due: prettier --write --ignore-unknown

docs: add ESLint config fragmentation warning to README
  README.md
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write --ignore-unknown: any of: *.{json,md,css,html,yml,yaml}
