Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

fix(ui): enforce dark theme and unify Settings backgrounds with design tokens; improve ModelPicker empty state
  index.html
  src/components/ModelPicker.tsx
  src/views/SettingsView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat(ui/chat): add TypingIndicator, per-message actions (copy/delete), and use Toasts; add typing dots CSS
  src/styles/chat.css
  src/views/ChatView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat(settings/models): erweitere ModelPicker um Policy-Filter, Kostenkategorie, Sortierung; zeige Policy-Badge und Tags
  src/components/ModelPicker.tsx
Due: eslint --fix

fix(settings/roles): Rollen wirklich aus public/styles.json laden und anzeigen (State + Load-Status)
  src/views/SettingsView.tsx
Due: eslint --fix

feat(settings/roles): Select mit Kategorien (optgroup) und Policy-Präfix [strikt|moderat|frei]
  src/views/SettingsView.tsx
Due: eslint --fix

feat(settings): ersetze alte Rollen-Vorschau durch effektive Systemprompt-Vorschau (Stil+Rolle+NSFW); entferne separate Stil-Vorschau
  src/views/SettingsView.tsx
Due: eslint --fix

feat(settings/roles): Vorschau zeigt nun Rollen-Systemtext aus styles.json (Fallback: effektiver Systemprompt)
  src/views/SettingsView.tsx
Due: eslint --fix

fix(lint): remove empty catch and unused toast; build OK
  src/App.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
Due: eslint --fix

feat(context/memory): Rolle immer als Systemprompt (chatPipeline) + Memory in System injecten; ContextManager für Tokenbudget; Memory-Update je Unterhaltung
  src/views/ChatView.tsx
Due: eslint --fix

feat(ui): Chat zeigt Memory-Status; Settings: Memory-Toggle und Token-Limits; fix lint (keine require)
  src/config/settings.ts
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix

feat(ui/chat): stärkerer Bubble-Glanz & Glas-Optik (Glare-Layer, sanfter Glow, Hover-Highlight)
  src/styles/chat.css
Due: prettier --write --ignore-unknown

tweak(ui/chat): stärkerer Glanz & Glow für Bubbles (intensivere Highlights/Shadow)
  src/styles/chat.css
Due: prettier --write --ignore-unknown

tweak(ui/chat): kräftigerer Farbverlauf + sanfte Sättigungs‑Hover + langsame Gradient‑Animation für Bubbles
  src/styles/chat.css
Due: prettier --write --ignore-unknown

feat(ui/layout): Aurora-Hintergrund eingebunden; Header als Glass; zarte Farbverläufe in Bubbles
  src/App.tsx
  src/styles/brand.css
Due: eslint --fix, prettier --write --ignore-unknown

feat(ui): Nav-Pills mit Gradient-Active; Glass/Gradient-Cards in Settings & Chats; Inputs auf Glass/Input-Style; CTA als btn-glow
  src/App.tsx
  src/styles/brand.css
  src/views/ChatsView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

tweak(ui): vereinheitlichte Buttons (nav-pill/btn-glow) in Chat + Glass/Gradient Cards in Settings/Chats; Header-Pills
  src/views/ChatView.tsx
Due: eslint --fix

style(ui): Harmonisierung – Inputs auf Glass/Input-Style; thead Gradient-Linie; ModelPicker UI; Settings Save als btn-glow
  src/components/ModelPicker.tsx
  src/styles/brand.css
  src/views/ChatsView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

fix(lint): entferne ungenutzte QuickAction-Funktionen; fülle Quickstart-Prefill mit kommentiertem catch
  src/App.tsx
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
Due: eslint --fix

fix(ui): Duplikat 'Unterhaltungen' im Header entfernt; HeroCard Text auf 'Hey, ich bin dein Assi.' geändert und CTA entfernt
  src/App.tsx
  src/components/hero/HeroCard.tsx
Due: eslint --fix

tweak(hero): kompaktere HeroCard mit Logo-Maskottchen; keine Call-to-Action
  src/components/hero/HeroCard.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write --ignore-unknown: any of: *.{json,md,css,html,yml,yaml}
