Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

fix(ui/guard): add local TS alias for AddEventListenerOptions (satisfy eslint no-undef)
  .github/workflows/ci.yml
  postcss.config.cjs
  src/components/CodeBlock.tsx
  src/components/Icon.tsx
  src/components/InstallBanner.tsx
  src/components/chat/Avatar.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/hero/QuickActions.tsx
  src/components/status/OrbStatus.tsx
  src/styles/theme.css
  src/ui/guard.ts
  src/views/ChatView.tsx
  tailwind.config.ts
  tests/smoke/ui.smoke.test.tsx
Due: eslint --fix, prettier --write --ignore-unknown

hotfix
  src/ui/guard.ts.bak
Due: none

hotfix1
  src/components/ModelPicker.tsx
  src/views/SettingsView.tsx
Due: eslint --fix

feat(ui): split Chat/Settings, add Settings FAB, ModelPicker filters, role-policy banner; smoke tests
  src/components/nav/SettingsFAB.tsx
  src/views/ChatView.tsx
  tests/smoke/settings.smoke.test.tsx
Due: eslint --fix

refactor(ui): consolidate CodeBlock in ChatView; quarantine chat CodeBlock
  .graveyard/20250906/src/components/chat/CodeBlock.tsx
  src/views/ChatView.tsx
Due: eslint --fix

chore(cleanup): move unused Avatar component to .graveyard/; fix lint gates: remove RequestInit/RequestCache identifiers and empty catch; underscore unused param
  .graveyard/20250906/src/components/Avatar.tsx
  ANALYSIS.md
  CLEANUP_CANDIDATES.md
  CONFIG_AUDIT.md
  DEPENDENCIES.md
  ERRORS.json
  REFACTOR_PLAN.md
  UX_FINDINGS.md
  src/App.tsx
  src/api/openrouter.ts
  src/components/ModelPicker.tsx
  src/config/roleStore.ts
  src/features/prompt/composeSystemPrompt.ts
  src/services/chatService.ts
  src/views/SettingsView.tsx
  tests/unit/composeSystemPrompt.test.ts
Due: eslint --fix, prettier --write --ignore-unknown

refactor(net): delegate chat streaming to api/openrouter.chatStream; keep demo fallback
  .graveyard/20250906/src/components/ScrollToEndFAB.tsx
  src/services/chatService.ts
Due: eslint --fix

chore(config): add debug sourcemaps (vite env toggle + tsconfig.debug.json + build:debug script)
  package.json
  tsconfig.debug.json
  vite.config.ts
Due: prettier --write --ignore-unknown

refactor(api): consolidate OpenRouter access; services/openrouter now delegates to api/openrouter (chat), retains key + models (fix no-undef lint)
  .graveyard/20250906/src/entities/PersonaProvider.tsx
  .graveyard/20250906/src/entities/persona/index.tsx
  .graveyard/20250906/src/entities/persona/types.ts
  .graveyard/20250906/src/entities/settings/store.ts
  .graveyard/20250906/src/features/chat/ChatPanel.tsx
  .graveyard/20250906/src/features/models/ModelInfoCard.tsx
  .graveyard/20250906/src/features/models/ModelPicker.tsx
  .graveyard/20250906/src/features/models/ModelPickerButton.tsx
  .graveyard/20250906/src/features/models/modelFilters.ts
  .graveyard/20250906/src/features/models/state.ts
  .graveyard/20250906/src/features/settings/ModelPicker.tsx
  .graveyard/20250906/src/features/settings/SettingsSheet.tsx
  .graveyard/20250906/src/features/settings/schema.ts
  .graveyard/20250906/src/features/settings/storage.ts
  .graveyard/20250906/src/shared/lib/cn.ts
  .graveyard/20250906/src/shared/loadPersona.ts
  .graveyard/20250906/src/shared/ui/Button.tsx
  .graveyard/20250906/src/shared/ui/Input.tsx
  .graveyard/20250906/src/shared/ui/Spinner.tsx
  .graveyard/20250906/src/shared/ui/Switch.tsx
  .graveyard/20250906/src/shared/ui/Toast.tsx
  .graveyard/20250906/src/views/Chat.tsx
  .graveyard/20250906/src/views/Home.tsx
  .graveyard/20250906/src/views/Onboarding.tsx
  .graveyard/20250906/src/views/Settings.tsx
  .graveyard/20250906/src/widgets/shell/AppShell.tsx
  src/services/openrouter.ts
Due: eslint --fix

test(net): add abort test for api/openrouter.chatStream (AbortError path)
  src/__tests__/openrouter.abort.test.ts
Due: eslint --fix

chore(config): enable eslint scripts and include lint in verify; remove duplicate script entries
  package.json
Due: prettier --write --ignore-unknown

refactor(types): centralize ChatMessage/Role in src/types/chat; update api/openrouter, chatService, ChatView, api/memory, contextManager
  src/api/memory.ts
  src/api/openrouter.ts
  src/services/chatService.ts
  src/services/contextManager.ts
  src/types/chat.ts
  src/views/ChatView.tsx
Due: eslint --fix

feat(net): support NDJSON in chatStream; test: add NDJSON test; feat(net): fetchWithTimeout util + test; feat(models): TTL cache for getRawModels + test; adjust lint for tests
  src/__tests__/fetchTimeout.test.ts
  src/__tests__/models.cache.test.ts
  src/__tests__/openrouter.ndjson.test.ts
  src/api/openrouter.ts
  src/lib/net/fetchTimeout.ts
  src/services/openrouter.ts
Due: eslint --fix

refactor(ui): wrap app with ToastsProvider; add skip-link; improve mobile composer (autosize, enterKeyHint, safe-area); subtle message bubbles; rAF+timer flush; sort imports
  src/App.tsx
  src/main.tsx
  src/views/ChatView.tsx
Due: eslint --fix

codex fix
  src/components/status/OrbStatus.tsx
  src/styles/chat.css
  src/views/ChatView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

f
  src/styles/chat.css
Due: prettier --write --ignore-unknown

test(openrouter): use Vitest detection without direct 'process' ref (eslint no-undef)
  src/api/openrouter.ts
Due: eslint --fix

ci(cf): add Cloudflare Pages deploy workflow; README: switch from Vercel to CF Pages
  .github/workflows/deploy-cloudflare-pages.yml
  README.md
Due: prettier --write --ignore-unknown

docs(cf): README auf Cloudflare Pages Git-Integration umgestellt; CF Pages Action entfernt
  .github/workflows/deploy-cloudflare-pages.yml
  README.md
Due: prettier --write --ignore-unknown

perf(cf): sensible _headers for Cloudflare Pages (no-store HTML/JSON; long-cache assets; security headers)
  public/_headers
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write --ignore-unknown: any of: *.{json,md,css,html,yml,yaml}
