Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{json,md,css,html,yml,yaml}": "prettier --write --ignore-unknown"
}

chore: ignore editor backup files (*.bak)
  .gitignore
Due: none

ci: add package-lock.json for npm cache/ci; unignore in .gitignore
  .gitignore
Due: none

ci(test): add Vitest + Playwright jobs; bring tests back to CI
  .github/workflows/test.yml
Due: prettier --write --ignore-unknown

ci(pages): gate deploy on tests (Vitest + optional Playwright)
  .github/workflows/pages.yml
Due: prettier --write --ignore-unknown

fix fix
  .github/workflows/pages.yml
  public/_headers
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/features/prompt/composeSystemPrompt.ts
  src/styles/theme.css
Due: eslint --fix, prettier --write --ignore-unknown

chore(lint): add lint-staged configuration
  package.json
Due: prettier --write --ignore-unknown

chore(ts): tighten compiler options
  tsconfig.json
Due: prettier --write --ignore-unknown

feat(sec): key handling via session storage
  src/lib/openrouter/key.ts
  src/lib/settings/storage.ts
Due: eslint --fix

feat(sec): validate storage reads
  src/lib/storage/validators.ts
Due: eslint --fix

docs(sec): csp draft
  docs/csp-draft.md
Due: prettier --write --ignore-unknown

feat(net): abort/timeout for chat requests
  src/api/openrouter.ts
  src/lib/net/concurrency.ts
  src/lib/net/errorMapping.ts
  src/lib/net/fetchTimeout.ts
  src/services/openrouter.ts
Due: eslint --fix

chore(lint): add lint-staged config and ensure pre-commit hook
  .lintstagedrc.json
Due: prettier --write --ignore-unknown

fix(eslint): non-empty catch blocks and defensive storage access in keyStore
  docs/CSP_DRAFT.md
  src/bootstrap/migrations.ts
  src/lib/keyStore.ts
  src/lib/validators/conversations.ts
  src/lib/validators/roles.ts
  src/lib/validators/settings.ts
  src/main.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat(sec): session-based keyStore (no localStorage persistence)
  src/lib/keyStore.ts
Due: eslint --fix

feat(sec): purge legacy API key from localStorage on app start
  scripts/add-migration-import.mjs
Due: none

feat(sec): add minimal zod validators (settings/roles/conversations)
  src/lib/validators/roles.ts
  src/lib/validators/settings.ts
Due: eslint --fix

docs(sec): add CSP draft for future hardening
  docs/CSP_DRAFT.md
Due: prettier --write --ignore-unknown

chore(ci): add build guard to detect key/authorization leaks
  package.json
  scripts/add-guard-script.mjs
  scripts/build-guard.sh
Due: prettier --write --ignore-unknown

kein plan
  coverage/.tmp/coverage-0.json
  coverage/.tmp/coverage-1.json
  coverage/.tmp/coverage-2.json
  coverage/.tmp/coverage-3.json
  coverage/.tmp/coverage-4.json
  coverage/.tmp/coverage-5.json
  docs/scripts/add-guard-script.mjs
  docs/scripts/add-migration-import.mjs
  docs/scripts/build-guard.sh
  docs/scripts/health-check.sh
  docs/scripts/remove-react-default-imports.mjs
  docs/scripts/restore-react-namespace.sh
  docs/scripts/setup-mcp.sh
  docs/scripts/visual-scan.mjs
  scripts/verify-integrity.mjs
  src/diagnostics/corruptionReport.json
  src/views/Diagnostics.tsx
  test-artifacts/.last-run.json
  test-artifacts/sw-update-SW-Update-Toast--556e5--erscheint-und-ist-klickbar-android-dark/error-context.md
  test-artifacts/sw-update-SW-Update-Toast--556e5--erscheint-und-ist-klickbar-android-samsung/error-context.md
Due: eslint --fix, prettier --write --ignore-unknown

ci: enable manual workflow_dispatch
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown

fix: Resolve build error and ignore coverage files
  .gitignore
  src/main.tsx
Due: eslint --fix
