Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

test(e2e): activate Model-Picker visibility flow; scrollIntoView and visibility check; full suite green
  tests/e2e/flows.spec.ts
Due: none

feat(a11y): improve chat 'Mehr'-Menü ARIA (controls/labelledby, Esc closes); remove unused Orb component; add PR description doc
  docs/PR_UI_AUDIT.md
  src/components/HeroCard.tsx
  src/components/Orb.tsx
  src/views/ChatView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore(theme): move palette to CSS tokens; replace remaining inline hex palette usage across key components; finalize nav unification and surfaces; tests green
  src/styles/tokens.css
Due: prettier --write --ignore-unknown

feat(a11y/theme): add chat menu outside-click close + focus on open; switch key surfaces to design tokens; keep tests green
  src/App.tsx
  src/components/CodeBlock.tsx
  src/components/NetworkBanner.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/views/ChatView.tsx
Due: eslint --fix

style(a11y): complete glasmorphism tokens usage; nav pills refined glass/outline; buttons/bubbles/quickstart updated; chat menu roving tabindex + focus trap; tests green
  src/App.tsx
  src/components/ui/Button.tsx
  src/styles/brand.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

docs(design): add UI_DESIGN.md; chore(e2e): add screenshot spec and npm script 'snap:ui'
  docs/UI_DESIGN.md
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-dark.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-dark.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
  package.json
  tests/e2e/screenshots.spec.ts
Due: prettier --write --ignore-unknown

docs: add baseline inventory, architecture, issues, plan, assumptions; capture initial logs
  DOCS/ARCHITECTURE.md
  DOCS/ASSUMPTIONS.md
  DOCS/CHANGELOG_REFAC.md
  DOCS/INVENTORY.md
  DOCS/ISSUES.md
  DOCS/PLAN.md
  LOGS/versions-20250907-0533.txt
Due: prettier --write --ignore-unknown

feat(styles): introduce light-first tokens + glass utilities
  LOGS/build-baseline-20250907-0533.log
  LOGS/build-commit1-20250907-0535.log
  LOGS/lint-baseline-20250907-0533.log
  LOGS/removed_files.log
  LOGS/test-baseline-20250907-0533.log
  LOGS/test-baseline-fix1-20250907-0534.log
  LOGS/test-commit1-20250907-0535.log
  LOGS/typecheck-baseline-20250907-0533.log
  LOGS/typecheck-commit1-20250907-0535.log
  src/styles/theme.css
  tailwind.config.ts
Due: prettier --write --ignore-unknown

feat(ui): unify glass buttons/inputs and glassy sheet/toasts
  LOGS/build-commit2-20250907-0536.log
  LOGS/test-commit2-20250907-0536.log
  LOGS/typecheck-commit2-20250907-0536.log
  src/components/ui/Button.tsx
  src/components/ui/Input.tsx
  src/components/ui/Select.tsx
  src/components/ui/Sheet.tsx
  src/components/ui/Textarea.tsx
  src/components/ui/toast/ToastsProvider.tsx
Due: eslint --fix

feat(header): glass top bar + chip badges and nav-pills
  LOGS/build-commit3-20250907-0537.log
  LOGS/test-commit3-20250907-0537.log
  LOGS/typecheck-commit3-20250907-0537.log
  src/components/Header.tsx
  src/components/HeaderBadges.tsx
Due: eslint --fix

feat(chat): glass composer and distinct user/AI bubbles; glass code blocks + menus
  LOGS/build-commit4-20250907-0537.log
  LOGS/test-commit4-20250907-0537.log
  LOGS/typecheck-commit4-20250907-0537.log
  src/components/CodeBlock.tsx
  src/components/InstallBanner.tsx
  src/components/NetworkBanner.tsx
  src/components/chat/Composer.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/views/ChatView.tsx
Due: eslint --fix

feat(models): glass table + card-like rows with chips and details panel
  LOGS/build-commit5-20250907-0538.log
  LOGS/test-commit5-20250907-0538.log
  LOGS/typecheck-commit5-20250907-0538.log
  src/components/ModelPicker.tsx
Due: eslint --fix

feat(views): apply glass cards and readable headings across Chats/Settings/Quickstart
  LOGS/build-commit6-20250907-0538.log
  LOGS/test-commit6-20250907-0538.log
  LOGS/typecheck-commit6-20250907-0538.log
  src/views/ChatsView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix

refactor(ui): glassify badges/cards/hero; unify selects/pills; improve empty-state cards
  LOGS/build-commit7-20250907-0539.log
  LOGS/test-commit7-20250907-0539.log
  LOGS/typecheck-commit7-20250907-0539.log
  src/components/Badge.tsx
  src/components/Card.tsx
  src/components/HeroCard.tsx
  src/components/Input.tsx
  src/components/KeyGuard.tsx
  src/components/PillSelect.tsx
  src/components/Select.tsx
  src/components/StartHero.tsx
  src/components/StickyActions.tsx
  src/components/TemplatesGrid.tsx
  src/components/hero/HeroCard.tsx
Due: eslint --fix

docs: update changelog and add postmortem for refactor session
  DOCS/CHANGELOG_REFAC.md
  DOCS/POSTMORTEM.md
Due: prettier --write --ignore-unknown

fix(theme): set light as default by removing .dark on <html> and adjust theme-color
  LOGS/build-commit8-20250907-0648.log
  LOGS/test-commit8-20250907-0648.log
  LOGS/typecheck-commit8-20250907-0648.log
  index.html
Due: prettier --write --ignore-unknown

fix
  .github/pull_request_template.md
  DOCS/INVENTORY.md
  DOCS/PR_SUMMARY.md
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-dark.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
Due: prettier --write --ignore-unknown

feat(ui): Implement new glassmorphism design system
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-dark.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-dark.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
  src/App.tsx
  src/components/Input.tsx
  src/components/ModelPicker.tsx
  src/components/Select.tsx
  src/components/ui/Button.tsx
  tailwind.config.ts
Due: eslint --fix

style(theme): Add color and contrast to UI elements
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-dark.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-dark.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
  src/styles/theme.css
  src/views/ChatsView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat(ui): Implement Dark/Aurora glassmorphism theme
  docs/screenshots/chat-android-dark.png
  docs/screenshots/chat-android-samsung.png
  docs/screenshots/chats-android-samsung.png
  docs/screenshots/quickstart-android-dark.png
  docs/screenshots/quickstart-android-samsung.png
  docs/screenshots/settings-android-dark.png
  docs/screenshots/settings-android-samsung.png
  src/styles/theme.css
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write --ignore-unknown: any of: *.{json,md,css,html,yml,yaml}
