Repository daydaylx/Disa_Ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{json,md,css,html,yml,yaml}": "prettier --write --ignore-unknown"
}

feat(ui): BottomNav (Glass, große Tabs); Quickstart mit Titel-Underline; glasmorphism konsistent
  src/App.tsx
  src/components/layout/BottomNav.tsx
  src/views/QuickStartView.tsx
Due: eslint --fix

style(ux): Hover-Glow für Glass Cards; sanftes Pulse für CTA; Focus-Ring für Pills; BottomNav integriert
  src/styles/brand.css
Due: prettier --write --ignore-unknown

refactor(ui): Chats-Liste Aktionen auf ui/Button (secondary/destructive) konsolidiert
  src/views/ChatsView.tsx
Due: eslint --fix

chore(ui): UI aufräumen – unbenutzte Duplikate entfernt (ChatBubble/MessageBubble/TopNav/TopBar/SessionMenu/ChatInput); Bottom padding in Views für BottomNav
  src/components/ChatBubble.tsx
  src/components/ChatInput.tsx
  src/components/MessageBubble.tsx
  src/components/SessionMenu.tsx
  src/components/TopBar.tsx
  src/components/TopNav.tsx
  src/views/ChatsView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix

refactor(ui): Settings-Toggles auf Switch-Komponente (konsistente A11y/Focus)
  src/views/SettingsView.tsx
Due: eslint --fix

fix(layout): BottomNav misst Höhe und setzt --bottomnav-h; Composer/Views paddings auf BottomNav abgestimmt; keine Überlappungen
  src/components/layout/BottomNav.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix

fix(ui): Quickstart-Buttons via ui/Button; Composer-Offset konfigurierbar; BottomNav-Höhe als CSS-Var; Catch-Variablen bereinigt
  src/config/settings.ts
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix

fix(ui): e2e alignment (testIDs, .msg, .codeblock), offline banner, demo abort/delay, remove duplicate skip-link
  src/App.tsx
  src/components/CodeBlock.tsx
  src/services/chatService.ts
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
Due: eslint --fix

chore(lint): behebe Warnungen ohne Funktionsverlust (deps in useMemo, verwendungslose Variablen markieren, Catch-Variablen nutzen)
  src/components/ModelPicker.tsx
  src/components/StartHero.tsx
  src/components/TemplatesGrid.tsx
  src/components/feedback/ErrorState.tsx
  src/components/hero/HeroCard.tsx
  src/lib/pwa/registerSW.ts
  src/ui/interaction-helpers.ts
  src/views/ChatView.tsx
Due: eslint --fix

feat(pwa): nur-Android Fokus (Portrait-Manifest), Demo ohne Code; feat(ui): Android-Hinweisbanner; test(e2e): Kopieren aus Nachricht statt Codeblock; fix(chat): robustes Kopieren mit Fallback
  src/App.tsx
  src/components/AndroidNoticeBanner.tsx
  src/services/chatService.ts
  src/views/ChatView.tsx
  tests/e2e/chat.spec.ts
  vite.config.ts
Due: eslint --fix

feat(chat): mobile UX – Ctrl/Cmd+Enter sendet, Esc stoppt; aria-live Logregion für Screenreader
  src/views/ChatView.tsx
Due: eslint --fix

feat(ui): Pro-Infos standardmäßig versteckt (Details), Onboarding-CTA zu Einstellungen bei leerem Chat; vereinheitlichte Toasts (React only); UX: Lösch-Aktion ins Mehr-Menü verschoben
  src/ui/globals.ts
  src/views/ChatView.tsx
Due: eslint --fix

feat(mobile): Haptik auf Android (Senden/Stop), größere Tap-Targets; windowed Chat-Liste via Feature-Flag
  src/styles/brand.css
  src/views/ChatView.tsx
Due: eslint --fix, prettier --write --ignore-unknown

style(ui): Dark-Mode Glaslook mit Neon-Akzenten; Buttons mit Glow; Chat-Bubbles/Composer/CodeBlock glasig; Header/BottomNav mit Blur
  src/App.tsx
  src/components/CodeBlock.tsx
  src/components/InstallBanner.tsx
  src/components/NetworkBanner.tsx
  src/components/chat/Avatar.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/ui/Button.tsx
  src/views/ChatView.tsx
Due: eslint --fix

chore(docs): add UI inventory (views, layout, components, events, duplicates, spacing tokens)
  docs/ui-inventory.json
Due: prettier --write --ignore-unknown

refactor(ui): add stable data-testids to nav, chats, settings, quickstart, chat actions
  src/App.tsx
  src/components/ModelPicker.tsx
  src/components/layout/BottomNav.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
  tests/e2e/flows.spec.ts
Due: eslint --fix

refactor(ui): consolidate legacy Button and ToastProvider to canonical ui/*; add testids for chat menu actions and install banner; align KeyGuard to ui/Button
  src/components/Button.tsx
  src/components/InstallBanner.tsx
  src/components/KeyGuard.tsx
  src/components/toast/ToastProvider.tsx
  src/views/ChatView.tsx
  tests/e2e/flows.spec.ts
Due: eslint --fix

chore(cleanup): remove duplicate components (legacy Button/Icon/InlineBanner/TabBar/guard.bak); switch Icon imports to ui/Icon; fix icon names
  src/components/Button.tsx
  src/components/ConversationsPanel.tsx
  src/components/Icon.tsx
  src/components/InlineBanner.tsx
  src/components/SectionCard.tsx
  src/components/StickyActions.tsx
  src/components/nav/TabBar.tsx
  src/ui/guard.ts.bak
Due: eslint --fix

test(e2e): enable Quickstart→Chat flow; stabilize via prefill/fill and selectors; keep remaining flows skipped
  tests/e2e/flows.spec.ts
Due: none

test(e2e): activate Settings and Chats flows; add robust waits; green end-to-end
  tests/e2e/flows.spec.ts
Due: none
